.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.cadastro-form{
  width :100%;
  max-width: 500px;
  padding: 15px;
}

.tabela-empresas{
  width :100%;
  max-width: 500px;
  padding: 15px;
  margin-left: 10px;
}
.titulo{
  margin-left: 10px;
}

.tabela-empresas{
  width :100%;
  max-width: 500px;
  padding: 15px;
  margin-left: 10px;
}

.card{
  width: 40%;
}

.text-title-card{
  text-align: center;
}

.login-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.a{
  color: white;
  text-decoration: none;
}

.a:focus{
  color: white;
  text-decoration: none;

}

.fundo-tela{
  background: #000 url('./Image/logotrabalho.png')no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

.card-venda{
  width :200%;
  max-width: 1000px;
  padding: 20px 2%;
  
  margin-left: auto;
  margin-right: auto;
  
}

.card-component{
  
  padding: 20px 2%;
  
}

.h2venda{
  margin-left: auto;
  margin-right: auto;
}